.about-me-section {
    width: 100%;
    margin-top: 120px;
    padding: 0 10%; 
    text-align: center;
}

h2 {
    font-size: 2.4rem;
    font-weight: 300;
}

img {
    max-width: 500px;
    border-radius: 1rem;
    margin-top: 1rem;
    margin: 1rem auto;
    width: 100%;
    height: auto;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    align-items: center; 
    margin: 4rem auto;
}

.stat-item h3, .skill-set-category, .tech-grid h3 {
    font-size: 2rem;
    font-weight: 400;
}

.stat-item h4, .self-description {
    font-size: 1rem;
    font-weight: 300;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    align-items: center; 
    margin: 1rem auto 4rem;
}

.tech-grid img {
    max-width: 100px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    align-items: center; 
    margin: 1rem auto 4rem;
}

.skill-div {
    background-color: rgb(156, 43, 43);
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
}

/* Media Queries  */
@media (min-width: 640px) {

    h2 {
        font-size: 4rem;
    }

    .stat-item h3, .skill-set-category, .tech-grid h3 {
        font-size: 3rem;
    }
    
    .stat-item h2 {
        font-size: 2rem;
    }

    .stats-grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 500px;
        margin: 8rem auto;
    }

    .tech-grid {
        grid-template-columns: repeat(5, 1fr);
        max-width: 1000px;
        margin: 2rem auto 8rem;
    }

    .tech-grid img {
        max-width: 150px;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 500px;
        margin: 2rem auto 8rem;
    }
}

@media (min-width: 1280px) {

    .self-description {
        max-width: 1000px;
        margin: 0 auto;
    }

    .about-me-section {
        padding: 0 20%; 
    }

    h2 {
        font-size: 5rem;
    }

    .stat-item h3, .skill-set-category, .tech-grid h3 {
        font-size: 4rem;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .stat-item h2 {
        font-size: 3rem;
    }

    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1000px;
    }
}

@media (min-width: 1536px) {
    h2 {
        font-size: 5.8rem;
    }

    .stat-item h3, .skill-set-category, .tech-grid h3 {
        font-size: 5rem;
    }
    
    .stat-item h2 {
        font-size: 4rem;
    }

}