/* Home */
.home-section {
    width: 100%;
    padding: 0 10%; 
    text-align: center;
}

.greeting h2 {
    font-size: 2.5rem;
    font-weight: 300;
}

.home-section a {
    font-size: 3rem;
    font-weight: 400;
    text-decoration: none;
    color: orange;
}

/* Adress section height issue on small screens */
@media (max-width: 300px) {
    .home-section {
        margin-top: 6rem;
    }
}

@media (min-width: 640px) {
    /* Home */
    .greeting h2 {
        font-size: 4rem;
    }

    .home-section a {
        font-size: 5rem;
    }
}

@media (min-width: 1280px) {
    .home-section {
        padding: 0 20%; 
    }

    .greeting h2 {
        font-size: 5rem;
    }

    .home-section a {
        font-size: 6rem;
    }
}

@media (min-width: 1536px) {
    .greeting h2 {
        font-size: 5.8rem;
    }

    .home-section a {
        font-size: 7rem;
    }
}