.work-section {
    width: 100%;
    margin-top: 120px;
    padding: 0 10%; 
    text-align: center;
}

.project-div {
    margin-bottom: 2rem;
}

.image-container {
    position: relative;
    display: inline-block;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 0.5rem;
}

.overlay a {
    transition: transform 0.3s ease;
    margin: 0 10px;
    color: beige;
    text-decoration: none;
}
  
.overlay a:hover {
    transform: scale(1.4); 
}
  
.image-container:hover .overlay {
    opacity: 1;
}
  
.project-img {
    /* transition: transform 0.3s ease; */
    display: block;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    border: solid gray 2px;
}

/* a:hover .project-img {
    transform: scale(1.07); 
} */

.project-span {
    font-weight: 500;
    color: white;
}

.project-div h4 {
    font-size: 1rem;
    font-weight: 300;
}

.tech-used {
    display: flex;
    flex-direction: row;
}

.tech-used img {
    max-width: 20px;
    border-radius: 0;
}

.work-header {
    font-size: 2rem;
    font-weight: 400;
}

.work-description {
    font-size: 1rem;
    font-weight: 300;
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    align-items: center; 
    margin: 4rem auto;
}

/* Media Queries  */
@media (min-width: 640px) {
    .work-item h3 {
        font-size: 3rem;
    }
    
    .work-item h2 {
        font-size: 2rem;
    }

    .stats-grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 500px;
        margin: 8rem auto;
    }

    .work-grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1600px;
        margin: 8rem auto;
        align-items: stretch;
    }
}

@media (min-width: 1280px) {
    .work-section {
        padding: 0 20%; 
    }

    .work-item h3 {
        font-size: 4rem;
    }
    
    .work-item h2 {
        font-size: 3rem;
    }

    .work-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1536px) {

    .work-item h3 {
        font-size: 5rem;
    }
    
    .work-item h2 {
        font-size: 4rem;
    }

    .work-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}